@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap');
/* 
font-family: 'Permanent Marker', cursive;
font-family: 'Righteous', cursive;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #e9eaeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

/* body {
  @apply: bg-gray-200;
} */

.righteous-font {
  font-family: 'Righteous', cursive;
}

.marker-font {
  font-family: 'Permanent Marker', cursive;
}

/* @layer components {
  :root {
    @apply bg-zinc-100;
  }
} */

/* .test-css {
  text-shadow:
    1px  1px 1px black,
    1px -1px 1px black,
   -1px  1px 1px black,
   -1px -1px 1px black;
} */